# NODE
TZ="America/Sao_Paulo"
ENV="development"
PORT=3000
HOST="http://localhost"
TEST_ENV=""

# DATABASE
DATABASE_URL=

# AWS CREDENTIALS
AWS_REGION
AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY=

# AWS RESOURCES

# AWS SQS (QUEUES)
CLIENT_QUEUE_URL=
ORDER_QUEUE_URL=


